data/**
!data/**/
!data/**/*.sh
!data/**/*.ttf
!data/**/*.py
*.pt
!training/mrz-field-segmentation/runs/20251121_161220-photo_scan_upright_scan_rotated_clips/best.pt
!training/mrz-field-segmentation/runs/hed-mrz-20251123_132036-photo_scan_upright_scan_rotated_clips/best.pt

**/venv/
**/.venv/
**/env/
**/.env/

__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg-info/
*.egg
*.log

*.lock
Pipfile.lock
poetry.lock

.ipynb_checkpoints/

.tox/
.coverage
htmlcov/
.cache/
pytest_cache/

*.env
.env.*
.envrc
.dockerignore

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
CLAUDE.md
